<div id="main container" class="conatiner">
	<div class="jumbotron well-lg">
		<h1>Welcome to Watchkeen</h1><br>
		<h6>Your Place to Shop !!</h6>
	</div> <!-- JUMBOTRON END -->
	<div id="content" class="col-xs-3">left bar (filters)</div>
	<div id="sidebar" class="col-xs-9">**right bar (content)**
		<h1>Listing Watches</h1>
		<div class="container">
			<div class="row">
			<% i = 1 %>
			<% @watches.each do |watch| %>
				<div class="col-md-6 watch" align="center" id="<%=i%>">
					<img src="assets/<%= watch.imgurl %>"/> <br />
					<%= watch.company %>
					<%= watch.mno %>
					<%= watch.imgurl %>
					<% i = i+1 %>
				</div>
			<% end %>
			</div> <!-- WATCH ROW END -->
			<%= link_to "All Watches", watches_path, class: 'btn btn-success' %>
		</div>		
	</div>
	<br>
</div>

<% if seller_signed_in? %>
<%= link_to 'New Watch', new_watch_path, class: 'btn btn-success' %>
<% end %>
 